cffi==1.17.1
Click==8.0.4
cryptography==36.0.1
docutils==0.21.2
intelhex==2.3.0
jmespath==1.0.1
pyasn1==0.6.1
pycparser==2.22
python-dateutil==2.9.0
six==1.16
urllib3==2.4.0
cbor>=1.0.0
cysecuretools==6.1.0
pyopenssl
